html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
p {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
button {
  background: none;
  border: none;
  color: var(--light);
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --light: #fafafa;
  --dark: #27292a;
}
/* Just mixin! :) */

@mixin flexing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* dark mode */

.theme__light {
  background-color: var(--white);
  color: var(--dark);
  .about__me {
    color: var(--light);
    background-color: var(--gray-dark);
  }
}

.theme__dark {
  background-color: var(--dark);
  color: var(--white);
  .about__me {
    color: black;
    background-color: var(--light);
  }
}

/* body things */
.navigate {
  display: inline-block;
  position: absolute;
  background-color: var(--purple);
  padding: 0.5rem;
  right: 0;
  top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--white);
}

/* header */

header {
  background-image: url("../img/stars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white);
  overflow: hidden;
  height: 100vh;
  weight: auto;
  @include flexing;
  .card__info {
    @include flexing;
  }
  img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 10rem;
  }
}

/* Main */
main {
  .dual {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem 0 1rem;
    .section__tech {
      & svg,
      & img {
        width: clamp(4rem, 9vw, 5rem);
      }
      display: flex;
      flex-direction: column;
    }
    .card__tech {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .card {
        margin: 1rem;
      }
    }
  }
}

.card__contact {
  color: var(--light);
  .card__contact-block {
    background-color: lighten(#343a40, 20%);
    border-radius: 10px;
    padding: 0.5rem;
    display: inline-block;
  }
}

.about__me {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
/* Media queries */

@media screen and (max-width: 900px) {
  main .dual {
    display: flex;
    flex-direction: column;
  }
  main,
  header {
    margin-bottom: 0.5rem;
  }
  .about__me {
    padding: 1rem;
  }
}
